
body {
    background-color: rgb(4, 255, 0);
    text-align: center;
    padding: 15%;
}

.start-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    align-items: center;
    position: center;
    box-shadow: 20px -10px rgb(128, 0, 0);
}


/* .hide {
    display: none;
} */